DRPC_API_KEY=

POSTGRES_DB=chainlink
POSTGRES_USER=postgres
POSTGRES_PORT=5432
POSTGRES_BIND_DIR=/var/bleu/chainlink-price-feed-router/postgres
POSTGRES_PASSWORD=

FLAGS_INDEXER_PORT=42069
AGGREGATORS_INDEXER_PORT=42070